nltk==3.7
spacy==2.3.5
pymupdf==1.20.2
PyPDF2==3.0.1
sentence-transformers
# git clones
# -e git://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=spacy
